libraryservice-webservice/src/main/resources/LibraryService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://LibraryService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LibraryService" targetNamespace="http://LibraryService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://LibraryService/">
      <xsd:element name="getBookAvailability">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bookReference" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getBookAvailabilityResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bookAvailability" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addNewLoan">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="borrowingDate" type="xsd:date"></xsd:element>
      			<xsd:element name="bookReference" type="xsd:string"></xsd:element>
      			<xsd:element name="userID" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="addNewLoanResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="status" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="extendLoan">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="borrowingDate" type="xsd:date"></xsd:element>
      			<xsd:element name="bookReference" type="xsd:string"></xsd:element>
      			<xsd:element name="userID" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="extendLoanResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="extended" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="returnBook">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="borrowingDate" type="xsd:date"></xsd:element>
      			<xsd:element name="bookReference" type="xsd:string"></xsd:element>
      			<xsd:element name="userID" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="returnBookResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="status" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getStatusLoan">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="borrowingDate" type="xsd:date"></xsd:element>
      			<xsd:element name="bookReference" type="xsd:string"></xsd:element>
      			<xsd:element name="userID" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getStatusLoanResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="status" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getListBook">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="keyword" type="xsd:string"></xsd:element>
      			<xsd:element name="author" type="xsd:string"></xsd:element>
      			<xsd:element name="publisher" type="xsd:string"></xsd:element>
      			<xsd:element name="language" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getListBookResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element minOccurs="0" maxOccurs="unbounded" name="listBooks" type="tns:book"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="addUser">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="username" type="xsd:string"></xsd:element>
      			<xsd:element name="password" type="xsd:string"></xsd:element>
      			<xsd:element name="firstname" type="xsd:string"></xsd:element>
      			<xsd:element name="lastname" type="xsd:string"></xsd:element>
      			<xsd:element name="mail" type="xsd:string"></xsd:element>
      			<xsd:element name="adress" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="addUserResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="status" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="connectUser">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="identifier" type="xsd:string"></xsd:element>
      			<xsd:element name="password" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="connectUserResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="status" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      
      <xsd:complexType name="book">
      	<xsd:all>
      		<xsd:element name="reference" type="xsd:string"/>
      		<xsd:element name="title" type="xsd:string"/>
      		<xsd:element name="author" type="xsd:string"/>
      		<xsd:element name="category" type="xsd:string"/>
      		<xsd:element name="publisher" type="xsd:string"/>
      		<xsd:element name="language" type="xsd:string"/>
      	</xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getBookAvailabilityRequest">
    <wsdl:part element="tns:getBookAvailability" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getBookAvailabilityResponse">
    <wsdl:part element="tns:getBookAvailabilityResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="addNewLoanRequest">
  	<wsdl:part name="parameters" element="tns:addNewLoan"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addNewLoanResponse">
  	<wsdl:part name="parameters" element="tns:addNewLoanResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="extendLoanRequest">
  	<wsdl:part name="parameters" element="tns:extendLoan"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="extendLoanResponse">
  	<wsdl:part name="parameters" element="tns:extendLoanResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="returnBookRequest">
  	<wsdl:part name="parameters" element="tns:returnBook"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="returnBookResponse">
  	<wsdl:part name="parameters" element="tns:returnBookResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatusLoanRequest">
  	<wsdl:part name="parameters" element="tns:getStatusLoan"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatusLoanResponse">
  	<wsdl:part name="parameters" element="tns:getStatusLoanResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListBookRequest">
  	<wsdl:part name="parameters" element="tns:getListBook"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListBookResponse">
  	<wsdl:part name="parameters" element="tns:getListBookResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserRequest">
  	<wsdl:part name="parameters" element="tns:addUser"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserResponse">
  	<wsdl:part name="parameters" element="tns:addUserResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="connectUserRequest">
  	<wsdl:part name="parameters" element="tns:connectUser"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="connectUserResponse">
  	<wsdl:part name="parameters" element="tns:connectUserResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LibraryService">
    <wsdl:operation name="getBookAvailability">
      <wsdl:input message="tns:getBookAvailabilityRequest"/>
      <wsdl:output message="tns:getBookAvailabilityResponse"/>
    </wsdl:operation>
    <wsdl:operation name="addNewLoan">
    	<wsdl:input message="tns:addNewLoanRequest"></wsdl:input>
    	<wsdl:output message="tns:addNewLoanResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extendLoan">
    	<wsdl:input message="tns:extendLoanRequest"></wsdl:input>
    	<wsdl:output message="tns:extendLoanResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnBook">
    	<wsdl:input message="tns:returnBookRequest"></wsdl:input>
    	<wsdl:output message="tns:returnBookResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatusLoan">
    	<wsdl:input message="tns:getStatusLoanRequest"></wsdl:input>
    	<wsdl:output message="tns:getStatusLoanResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListBook">
    	<wsdl:input message="tns:getListBookRequest"></wsdl:input>
    	<wsdl:output message="tns:getListBookResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
    	<wsdl:input message="tns:addUserRequest"></wsdl:input>
    	<wsdl:output message="tns:addUserResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="connectUser">
    	<wsdl:input message="tns:connectUserRequest"></wsdl:input>
    	<wsdl:output message="tns:connectUserResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LibraryServiceSOAP" type="tns:LibraryService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBookAvailability">
      <soap:operation soapAction="http://LibraryService/getBookAvailability"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewLoan">
      <soap:operation soapAction="http://LibraryService/addNewLoan"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extendLoan">
      <soap:operation soapAction="http://LibraryService/extendLoan"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnBook">
      <soap:operation soapAction="http://LibraryService/returnBook"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatusLoan">
      <soap:operation soapAction="http://LibraryService/getStatusLoan"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListBook">
      <soap:operation soapAction="http://LibraryService/getListBook"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://LibraryService/addUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="connectUser">
      <soap:operation soapAction="http://LibraryService/connectUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibraryService">
    <wsdl:port binding="tns:LibraryServiceSOAP" name="LibraryServiceSOAP">
      <soap:address location="http://localhost:8080/libraryservice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
